@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variable.scss";

body.modal-open {
  overflow: hidden;

  .side-menu-wrap {
    .navigation-wrap {
      display: block;
    }
  }
}

.third-class {
  padding-top: 177px;
}

.primary-header {
  margin-bottom: 10px;
  padding-top: 15px;

  // min-height: 129px;
  @media all and (max-width:767px) {
    margin-bottom: 20px;
    padding-top: 14px;
  }

  @media screen and (min-width: $small-medium) {
    margin-bottom: 18px;
    padding-top: 20px;
  }

  // @media (min-width: 768px){
  //   min-height: 80px;
  // }
  // @media (min-width: 1200px){
  //   min-height: 75px;
  // }

  .container {
    @media screen and (min-width: $small-medium) {
      @include flex-property(flex, stretch, space-between);
    }

    .logo-wrap {
      display: flex;
      align-items: center;

      @media screen and (min-width: $small-medium) {
        justify-content: flex-start;
      }

      @media screen and (min-width: $medium) {
        margin-right: 120px;
      }

      @media screen and (min-width: $r-1300) {
        margin-right: 146px;
      }

      .hamburger {
        margin-right: 20.3px;
        transition: none;

        &:hover {
          opacity: 0.8;
        }

        @media screen and (min-width: $small-medium) {
          display: none;
        }

        .hamburgers {
          width: 20.3px;
          height: 2px;
          display: block;
          background: $navy;
          margin: 0 0 4px 0;
          transition: none;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      .logo {
        a {
          display: block;

          img {
            max-width: 66px;
            width: 100%;
            display: block;

            @media screen and (min-width: $small-medium) {
              max-width: 80px;
              width: 95px;
            }

            @media screen and (min-width: $desktop) {
              max-width: 95px;
              width: 95px;
            }
          }
        }
      }
    }

    .search-filter {
      .p-dropdown {
        // border: 1.5px solid #dfdfdf !important;

        // &:focus {
        //   border: 2px solid #0d1e70 !important;
        // }

        .p-component {
          .p-inputwrapper {
            .p-inputwrapper-focus {
              border: 2px solid #0d1e70 !important;
            }
          }
        }
      }

      // .p-dropdown:not(.p-disabled):hover {
      //   border: 1.5px solid #dfdfdf !important;
      // }
    }

    // .p-dropdown .p-component .p-inputwrapper p-inputwrapper-filled p-inputwrapper-focus
    .icons-wrap {
      position: relative;
      @include flex-property(flex, center, space-between);
      flex-wrap: wrap;
      width: 100%;

      // position: relative;

      // &::after {
      //   top: 49px;
      //   content: "";
      //   position: absolute;
      //   left: 0;
      //   height: 1px;
      //   background-color: #000;
      //   width: 100%;
      // }

      // &::before {
      //   top: 46%;
      //   content: "";
      //   position: absolute;
      //   left: 0;
      //   height: 1px;
      //   background-color: #000;
      //   width: 100%;
      // }


      @media screen and (min-width: $small-medium) {
        width: 50%;
        justify-content: flex-end;
        flex-wrap: nowrap;
        align-items: stretch;
      }

      @media screen and (min-width: $medium) {
        width: auto;
      }

      .icons-boxes {
        padding-right: 22px;
        position: relative;
        color: $base-color;
        padding-left: 5px;

        &:first-child {
          @media all and (max-width:767px) {
            padding-left: 0;
          }
        }

        @media all and (min-width:768px) {
          padding-right: 26px;
          padding-left: 0px;
        }

        &:last-child {
          padding-right: 3px;
          margin-right: 0;

          @media screen and (min-width: $medium) {
            padding-top: 0px;
          }

          // @media screen and (min-width: $desktop) {
          //   padding-top: 13px;
          // }

          &::after {
            display: $none;
          }
        }

        &::after {
          content: "";
          height: 100%;
          border-right: 1px solid $F2-border;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          margin: auto;

          @media all and (max-width:767px) {
            display: none;
          }

          @media screen and (min-width: $desktop) {
            height: 100%;
          }
        }

        @media screen and (min-width: $small-medium) {
          padding-right: 25px;
          // margin-right: 17px;
          padding-left: 25px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
        }

        // @media screen and (min-width: $desktop) {
        //   padding-right: 25px;
        //   // margin-right: 22px;
        //   padding-left: 25px;
        // }

        .head-text {
          font-weight: $fw-medium;
          @include fontsize(11px);
          line-height: 1;
          text-transform: $capitalize;

          @media all and (max-width:767px) {
            @include fontsize(10px);
            font-weight: $fw-regular;
          }

          @media screen and (min-width: $desktop) {
            @include fontsize(13.3333px);
          }
        }

        &.garage-wrap {
          @media all and (max-width:767px) {
            width: 100%;
            padding: 20px 15px;
            display: flex;
            align-items: center;
            border-bottom: 1.2px solid #e8e8e8;
          }

          .account-wrapper {
            @media all and (max-width:767px) {
              text-align: center;
            }
          }
        }

        &.wishlist-wrap {
          @media all and (max-width:767px) {
            width: 50%;
            padding: 10px;
            text-align: center;
            align-items: center;
            flex-direction: column;
            display: none;
          }
        }

        &.signin-wrap {
          @media all and (min-width:768px) {
            justify-content: center;
            padding-top: 6px;
          }

          @media all and (min-width:$desktop) {
            padding-top: 7px;
          }
        }
      }

      .arrow-div {
        position: relative;
        display: $inline-block;

        .p-dropdown {
          &::after {
            @include after(9px, 4.5px);
            background: url("../../assets/images/down-dark-arrow.svg") no-repeat;
            background-size: cover;
            position: absolute;
            top: 5px;
            right: -16px;

            @media screen and (min-width: $desktop) {
              width: 10px;
              height: 5px;
              top: 7px;
            }
          }
        }
      }

    }
  }

  .side-menu-wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    overflow: auto;
    width: 100%;
    z-index: 9999999;
    display: none;

    &::after {
      content: "";
      position: fixed;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.8);
    }

    .navigation-wrap {
      position: absolute;
      background: $white;
      height: 100vh;
      width: 81%;
      top: 0;
      left: 0;


      @media screen and (min-width: $small-medium) {
        width: 320px;
      }

      .navigation-links {
        width: 100%;
        background: $white;

        @media all and (max-width:767px) {
          padding-bottom: 50px;
        }

        ul {
          flex-direction: column;
          align-items: flex-start;
          // padding: 23px 10px;


          li {
            width: 100%;
            margin-right: 0;

            .megamenu-wrap {
              position: static;
              padding: 0;
              box-shadow: none;

              @media all and (max-width:767px) {
                // padding-left: 15px;
                bottom: 0 !important;
              }

              .ltl-menu {
                li {
                  &.active-list {
                    .arrow {
                      svg {
                        transform: rotate(90deg);
                      }
                    }
                  }

                  a {
                    @media all and (max-width:767px) {

                      padding-left: 15px;
                      background-color: #f8f8f8;
                      font-size: 16px;
                      color: #000;
                    }
                  }
                }
              }

              .rtl-menu {
                h4 {
                  @media all and (max-width:767px) {
                    padding-left: 35px !important;
                    background: #e8e8e8;
                    border-bottom: none;
                    font-size: 16px;
                    color: #000;
                    font-weight: 600;

                  }
                }

                ul {
                  li {
                    @media all and (max-width:767px) {
                      padding-left: 0;
                      border-bottom: none;


                    }

                    .arrow {
                      @media all and (max-width:767px) {
                        display: none;

                      }
                    }

                    a {
                      @media all and (max-width:767px) {
                        padding-left: 35px;
                        background: #e8e8e8;

                      }
                    }

                  }
                }
              }

              ul {
                padding: 0;

                li {
                  width: 100%;
                  border-bottom: 1px solid $F2-border;

                  @media all and (max-width:768px) {
                    border-bottom: 1.2px solid #E8E8E8;
                  }

                  &:hover {
                    background: transparent;
                    opacity: 0.8;
                  }

                  // &:first-child {
                  //   a {
                  //     padding-top: 0;
                  //   }
                  // }

                  &:last-child {
                    border-bottom: 0;

                    @media all and (max-width:767px) {
                      .list-nav {
                        border-bottom: 0;
                      }
                    }
                  }

                  a {
                    padding: 14px 0;
                    @include fontsize(12px);

                    @media screen and (min-width: $desktop) {
                      @include fontsize(14px);
                    }
                  }
                }
              }
            }
          }
        }
      }
    }

    .close-btn {
      cursor: pointer;
      z-index: 10;
      position: absolute;
      top: 10px;
      right: 11%;
      background: transparent;
      transition: none;

      &:hover {
        opacity: 0.8;
      }

      @media screen and (min-width: $small-medium) {
        top: 16px;
        left: 336px;
        right: auto;
      }
    }
  }
}

.modal-open {
  .primary-header {
    .side-menu-wrap {
      display: block;
    }
  }
}

.fixed-input-panel {
  background: #fff;
  position: fixed;
  top: 0;
  display: none;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 9999999;
  overflow: auto;

  &.active {
    display: block;
  }

  .icon-back {
    background: url(../../assets/images/bck-arrow-new.svg) no-repeat;
    width: 20px;
    height: 17px;
    background-size: 20px auto;
  }
}

//mobile-search-new
.mobile-search-header {
  @media all and (max-width:767px) {
    flex-wrap: wrap;
    padding-bottom: 20px;

    .logo-wrap {
      order: 1;
    }

    .search-text-box {
      order: 3;
      width: 100%;
      height: 44px;
      background: $white;
      @include flex-property(flex, center, space-between);
      @include border (2px, solid, $navy);
      @include radius(6px);
      padding: 0 6px;
      position: relative;
      z-index: 99;
      flex-shrink: 0;
      margin-top: 10px;

      .search-placeholder {
        width: 100%;
        color: rgba(51, 51, 51, 0.4);
        font-weight: 400;
        @include fontsize(14px);
        line-height: 1.3;
        border: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 50px 0 12px;

      }
    }

    .search-icon {
      position: relative;

      input {
        background: url("../../assets/images/search-icon.svg") no-repeat;
        border: 0;
        @include fontsize(0px);
        height: 20px;
        width: 20px;
        background-size: contain;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 7px;
      }
    }

    .cart-wrap {
      order: 2;
      margin-right: 6px;
    }
  }
}

.is-sticky {
  .mobile-search-header {
    @media all and (max-width:767px) {
      flex-wrap: nowrap;
      padding-bottom: 10px;

      .logo-wrap {
        order: 1;
      }

      .search-text-box {
        order: 2;
        width: calc(100% - 88px);
        margin-right: 20px;
        margin-top: 0;
      }

      .cart-wrap {
        order: 3;
      }
    }
  }
}

@media all and (min-width:$small-medium) {
  .search-text-box {
    display: none;
  }
}

.search-wrap {
  .search-header-mobile {
    @media all and (max-width:767px) {
      position: fixed;
      top: 0;
      left: 0;
      background-color: #fff;
      z-index: 999999;
      height: 100vh;
      width: 100vw;
      padding: 20px 20px 20px 55px;

      .list {
        padding-top: 5px;
        border: 0;
        box-shadow: none;
        position: fixed;
        top: 84px;
        left: 0;
        right: 0;
        box-shadow: 0px -2px 0px 0px rgba(0, 0, 0, 0.1);
        margin: 0 auto;

        li {
          font-size: 14px !important;
          color: #30363c !important;
          width: auto !important;
        }

        h3 {
          background-color: transparent;
          font-size: 16px;
          margin: 0;
          color: #333;
          font-weight: 600;
          opacity: 1;
          padding: 10px 12px;
        }
      }
    }
  }

  .header-popup-wrap {
    @media all and (min-width:768px) {
      width: 63%;

      .search-header {
        width: 100%;
      }
    }

    @media all and (max-width:767px) {
      display: none;

      &.search-header-mobile {
        display: block !important;
      }
    }
  }
}