@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variable.scss";

.popup-wrapper {
    .refund-body {
        padding: 25px 15px;

        @media all and (min-width:$small-medium) {
            padding: 24px;
        }

        .amount {
            display: flex;
            justify-content: space-between;
            margin-bottom: 35px;
            margin-top: 10px;
        }

        h3 {
            color: $black;
            @include fontsize(14px);

            @media all and (min-width:$small-medium) {
                @include fontsize(20px);
            }
        }

        .refund-amount {
            color: $green;
            font-weight: $fw-bold;
            @include fontsize(14px);

            @media all and (min-width:$small-medium) {
                @include fontsize(20px);
            }
        }

        .card-box {
            padding: 25px 10px;
            background: #F1F2F4;
            border-radius: 6px;
            display: flex;
            align-items: center;
            margin-bottom: 24px;

            @media all and (min-width:$small-medium) {
                padding: 45px 16px;
            }

            .refund-amount {
                margin-right: 8px;
            }

            p {
                @include fontsize(12px);
                margin-right: 8px;
                padding: 0 10px;
                text-align: left;

                @media all and (min-width:$small-medium) {
                    @include fontsize(14px);
                    padding: 0 20px;
                }
            }

            .icon-card {
                background: url(../../assets/images/icon-mastercard.svg) no-repeat;
                width: 32px;
                height: 19px;
                background-size: 30px auto;
                flex-shrink: 0;
            }
        }

        .caution-wrap {
            display: flex;
            align-items: center;
            margin-bottom: 30px;

            .icon-caution {
                background: url(../../assets/images/icon-caution.svg) no-repeat;
                width: 16px;
                height: 14px;
                background-size: 16px auto;
                margin-right: 5px;
                flex-shrink: 0;
            }

            p {
                color: $black;
                opacity: 0.5;
                @include fontsize(12px);

                @media all and (min-width:$small-medium) {
                    @include fontsize(14px);
                }
            }
        }

        .refund-btn {
            background-color: $navy;
            text-transform: uppercase;
            @include fontsize(16px);
            color: $white;
            padding: 12px 30px;
            max-width: 180px;
            width: 100%;
            display: block;
            transition: none;
            border: 1px solid transparent;
            border-radius: 6px;
            margin: 0 auto;
            font-weight: $fw-bold;

            &:hover {
                background-color: $gray02;
                border: 1px solid transparent;
                color: $black;
            }
        }
    }
}