@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variable.scss";

.discount-wrap {
  padding-bottom: 40px;

  @media all and (max-width:767px) {
    padding-bottom: 32px;
  }

  &.discount-new {
    .discount-categories-lists {
      &.cat-list {
        @media all and (min-width:$small-medium) {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
          grid-column-gap: 15px;

          @media all and (min-width:$desktop) {
            grid-column-gap: 20px;
          }
        }
      }
    }

  }

  @media screen and (min-width: $r-1300) {
    padding-bottom: 40px;
  }
}

.discount-categories {


  .discount-categories-lists {
    @media all and (max-width:767px) {
      overflow-x: auto;
      display: flex;
      margin: 0 -15px;
      padding-left: 15px;
    }

    @media screen and (min-width: $small-medium) {
      margin-bottom: 15px;
    }

    @media screen and (min-width: $r-1300) {
      margin-bottom: 24px;
    }

    &:last-child {
      margin-bottom: 0;

      .about-discount {
        @media screen and (min-width: $small-medium) {
          max-width: none;
        }
      }
    }

    .about-discount {
      text-transform: $uppercase;
      position: relative;
      height: 148px;
      margin-bottom: 20px;
      transition: none;

      @media all and (max-width:767px) {
        flex-shrink: 0;
        margin-bottom: 0;
        margin-right: 8px;
        width: 307px;
      }

      @media screen and (min-width: $small-medium) {
        max-width: 680px;
        height: 138px;
      }

      @media screen and (min-width:992px) {
        height: 160px;
      }

      @media screen and (min-width: $r-1300) {
        height: 180px;
      }

      @media screen and (min-width: 1500px) {
        height: 200px;
      }

      &.discount-upto {
        .discount-details {
          h4 {
            margin-bottom: 5px;
          }
        }
      }

      &.interior-discount {
        .discount-details {
          h4 {

            font-weight: normal;
            margin-bottom: 5px;

            @media screen and (min-width: $r-1300) {
              margin-bottom: 8px;
            }
          }

          .save-text {

            font-weight: 500;
            margin-bottom: 0;
            opacity: 1;
            text-transform: initial;
          }
        }
      }

      a {
        display: block;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          display: block;

          @media all and (max-width:767px) {
            border-radius: 6px;
          }
        }

        .discount-details {
          @include abs(0, 0, 0, 0);
          margin: auto;
          @include flex-property(flex, center, center);
          flex-direction: column;
          text-align: $align-center;
          padding: 12px;

          .save-text {
            font-family: $oswald;
            font-weight: 400;
            opacity: 0.65;
            color: $white;
            @include fontsize(19px);
            line-height: 1;
            display: $block;
            margin-bottom: 5px;

            @media screen and (min-width: $r-1300) {
              @include fontsize(24px);
              margin-bottom: 8px;
            }
          }

          .filter-text {
            font-family: $oswald;
            font-weight: 400;
            @include fontsize(20px);
            color: $white;
            margin-bottom: 5px;
            line-height: 1;

            @media screen and (min-width: $r-1300) {
              @include fontsize(30px);
              margin-bottom: 8px;
            }
          }

          h4 {
            font-family: $oswald;
            font-weight: 500;
            @include fontsize(30px);
            color: $white;
            margin-bottom: 0;
            line-height: 1;

            @media screen and (min-width: $small-medium) {
              @include fontsize(22px);
            }

            @media screen and (min-width: $desktop) {
              @include fontsize(26px);
            }

            @media screen and (min-width: $r-1300) {
              @include fontsize(42px);
            }
          }
        }
      }
    }
  }
}