@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variable.scss";

.view-all-brand {
    padding: 10px 0 30px;

    @media screen and (min-width: $small-medium) {
        padding-top: 20px;
    }

    h3 {
        @include fontsize(16px);
        position: relative;
        margin-bottom: 30px;

        // &::after {
        //     content: "";
        //     position: absolute;
        //     top: 25px;
        //     left: 0;
        //     height: 3px;
        //     width: 88px;
        //     background: #0a185a;
        //     -webkit-transform: skew(0deg, -6deg);
        //     -moz-transform: skew(0deg, -6deg);
        //     -ms-transform: skew(0deg, -6deg);
        //     -o-transform: skew(0deg, -6deg);
        //     transform: skew(-30deg, 0deg);

        //     @media screen and (min-width: $desktop) {
        //         height: 4px;
        //         top: 28px;
        //     }
        // }

        @media screen and (min-width: $desktop) {
            @include fontsize(22.2222px);
            margin-bottom: 69px;
            line-height: 1.3;
        }
    }

    .brands-wrap {
        display: block;

        @media all and (min-width:$small-medium) {
            display: none;
        }

        &.desktop-data {
            display: none;

            @media screen and (min-width: $small-medium) {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                grid-column-gap: 10px;
            }

            @media screen and (min-width: $r-1300) {
                grid-column-gap: 22.4px;
                grid-template-columns: repeat(6, 1fr);
            }
        }
    }
}