@import "../../assets/styles/mixin.scss";
@import "../../assets/styles/variable";

.footer {
  padding: 25px 0 20px;
  background: $navy;
  border-top: 1px solid $base-color;
  color: $white;
  text-align: center;
  @include fontsize(16px);

  @media all and (min-width: $small-medium) {
    padding: 60px 0 10px;
    text-align: left;
  }

  .menu-wrapper {
    @media all and (min-width: $small-medium) {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    @media all and (min-width: $medium) {
      margin-bottom: 50px;
    }

    .footer-list {
      @media all and (min-width: $small-medium) {
        width: calc(50% - 20px);
        margin-right: 20px;
      }

      &:last-child {
        @media all and (min-width: $small-medium) {
          margin-right: 0;
        }

        @media all and (min-width: $medium) {
          width: 41%;
        }

        @media all and (min-width: $desktop) {
          padding-left: 30px;
        }
      }

      @media all and (min-width: $medium) {
        width: auto;
        // margin-right: 30px;
      }

      ul {
        li {
          @media all and (min-width: $desktop) {
            margin-bottom: 15px;
            line-height: 1.2;

            a {
              line-height: 1.2;
            }
          }
        }
      }

    }
  }

  h5 {
    color: $white;
    @include fontsize(20px);
    margin-bottom: 15px;

    @media all and (max-width:767px) {
      @include fontsize(16px);
    }

    @media all and (min-width:767px) and (max-width:768px) {
      @include fontsize(16px);
    }

    @media all and (min-width: $desktop) {
      margin-bottom: 18px;
    }
  }

  .nav-link {
    color: $white;

    @media all and (max-width:767px) {
      @include fontsize(14px);
      margin-bottom: 0;
      padding: 10px 0;
      width: 100%;
      line-height: 1.2;
    }

    @media all and (min-width:767px) and (max-width:768px) {
      @include fontsize(14px);
    }

    @include fontsize(16px);
    opacity: 0.75;
    transition: none;

    &:hover {
      opacity: 1;
      text-decoration: underline;
    }
  }

  p {
    @media all and (max-width:767px) {
      @include fontsize(14px);
    }

    color: $white;
    @include fontsize(16px);
    margin-bottom: 24px;
    opacity: 0.75;
  }

  .form-control {
    color: $text-color;
    @include radius(6px 0px 0px 6px);
    padding: 10px 12px;
    width: 100%;
    border: 2px solid transparent !important;
    outline: 0;

    @media all and (min-width: $desktop) {
      transform: translateY(0px);
      width: calc(100% - 128px);
      max-width: 436px;
      @include fontsize(16px);
    }

    &::placeholder {
      @include fontsize(16px);
      color: $light-gray;

      @media all and (max-width:767px) {
        @include fontsize(14px);
      }
    }

    &:focus {
      border: 1px solid transparent;
    }
  }

  .btn-submit {
    color: $text-color;
    background: $yellow;
    @include radius(0px 6px 6px 0px);
    @include fontsize(16px);
    padding: 10px 20px;
    text-transform: uppercase;
    font-weight: $fw-bold;
    transition: none;

    @media all and (max-width:767px) {
      @include fontsize(14px);
      padding: 10px 15px;
    }

    &:hover {
      background-color: $gray02;
      color: $black;

    }

    @media all and (min-width: $desktop) {
      width: 128px;
      @include fontsize(18px);
    }
  }

  .footer-list {
    margin-bottom: 30px;

    &.mobile-policy-footer {
      border-bottom: 0;

      @media all and (min-width:768px) {
        display: none;
      }
    }

    .accordion-footer {
      display: flex;
    }

    @media all and (max-width:767px) {
      text-align: left;
      border-bottom: 0.5px solid #fff;
      margin-bottom: 0;

      h5 {
        margin-bottom: 0;
        width: 100%;
        padding: 15px 0;
        position: relative;
      }

      .accordion-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media all and (max-width:767px) {
          position: relative;
        }
      }

      .icon-arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 0;
        background: url(../../assets/images/accordion-light-down.svg);
        height: 9px;
        width: 16px;
        display: block;
        background-size: 16px auto;

        &.active {
          background: url(../../assets/images/accordion-light-up.svg);
          height: 9px;
          width: 16px;
          display: block;
          background-size: 16px auto;
        }
      }
    }

    .email-wrap {
      .form-footer {
        display: flex;
        height: 100%;
      }

      .mail-error {
        display: block;
        margin: 5px 0;
        font-size: 14px;
        color: $notify-background;
      }

      @media all and (max-width:767px) {
        margin-bottom: 39px;
      }

      height: 44px;

      display: flex;

      .form-control {
        height: 100%;
        background-color: #fff;
      }

      .btn-submit {
        height: 100%;
      }
    }

    @media all and (max-width:767.98px) {
      .list-wrap{
        display: none;
        &.active {
          display: block;
        }

      }
      ul {


        li {
          margin-bottom: 0;

          &:last-child {
            a {
              padding-bottom: 20px;
            }
          }

        }
      }
    }

    @media all and (min-width: $desktop) {
      margin-bottom: 0;
    }

    &.news-letter {
      border-bottom: 0;

      @media all and (max-width:767px) {
        h5 {
          padding-top: 41px;
        }
      }
    }
  }

  .footer-logo {
    width: 180px;
    margin-bottom: 30px;
    display: block;

    @media all and (max-width:767px) {
      display: none;
    }

    @media all and (min-width: $small-medium) {
      margin-bottom: 0;
    }

    @media all and (min-width: $desktop) {
      width: auto;
    }

    img {
      width: 100%;
      display: block;
    }
  }

  .social-content {
    h5 {
      font-weight: $fw-semibold;

      @media all and (max-width:767px) {
        margin-bottom: 21px;
      }
    }
  }

  .social-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;

    @media all and (min-width: $small-medium) {
      margin-bottom: 0;
    }

    li {
      margin-right: 15px;
      line-height: 0;
      margin-bottom: 0;

      &:last-child {
        margin-right: 0;
      }

      @media all and (min-width: $desktop) {
        margin-right: 22px;
      }

      @media all and (max-width:767px) {
        margin-right: 25px;
      }
    }

    .social-icon {
      display: block;
      margin: 0;
      background-size: 24px auto;
      width: 24px;
      height: 24px;

      &:hover {
        opacity: 0.8;
      }
    }

    .icon-fb {
      background: url(../../assets/images/fb-icon.svg) no-repeat;
    }

    .icon-twitter {
      background: url(../../assets/images/twitter-icon.svg) no-repeat;
      height: 20px;
    }

    .icon-linkedin {
      background: url(../../assets/images/linkedin-icon.svg) no-repeat;
    }

    .icon-insta {
      background: url(../../assets/images/insta-icon.svg) no-repeat;
    }

    .icon-youtube {
      background: url(../../assets/images/youtube-svgrepo-com.svg) no-repeat;
      background-size: 24px auto;
      height: 24px;
      width: 24px;
    }
  }

  .copyright {
    opacity: 0.75;
    margin-bottom: 20px;

    @media all and (max-width:767px) {
      margin-top: 81px;
      font-size: 11px;
      width: 100%;
      text-align: left;
      margin-bottom: 0;
    }
  }

  .statement {
    display: block;
  }

  .policy-wrapper {
    ul {
      margin-bottom: 20px;

      @media all and (min-width: $small-medium) {
        display: flex;
      }

      @media all and (min-width: $medium) {
        margin-bottom: 0;
      }
    }

    li {
      margin-bottom: 7px;

      @media all and (min-width: $small-medium) {
        margin-bottom: 0;
        margin-right: 20px;
      }
    }

    @media all and (min-width: $medium) {
      display: flex;
      justify-content: space-between;
    }
  }

  .sub-content {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media all and (max-width:767px) {
      align-items: flex-start;
      text-align: left;
      margin-top: 25px;
    }

    @media all and (min-width: $small-medium) {
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 30px;
    }

    @media all and (min-width: $desktop) {
      margin-bottom: 60px;
    }
  }
}

.scroll-top {
  width: 55px;
  height: 55px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  z-index: 9999;
  background-color: #fff;
  cursor: pointer;
  box-shadow: 0 2px 4px 0 hsl(0deg 0% 53% / 22%);
  border: 1px solid #e8e8e8;

  @media all and (max-width:767px) {
    bottom: 64px;
  }

  .arrow-icon {
    background: url(../../assets/images/accordion-up-icon.svg) no-repeat;
    width: 16px;
    height: 9px;
    background-size: 16px auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    right: 0;
    margin: 0 auto;
  }

}

@media all and (max-width:767px) {
  .desktop-conditions {
    display: none;
  }

  .statement {
    &.access-statement {
      display: none;
    }
  }
}

.desktop-conditions {
  &.terms-conditions-wrp {
    @media all and (min-width:$desktop) {
      padding-right: 79px;
    }
  }
}



.statement {
  &.access-statement {

    li {
      @media all and (min-width:$medium) {
        margin-right: 0;
      }

      @media all and (min-width:1200px) {
        margin-right: 60px;
      }

      @media all and (min-width:1300px) {
        margin-right: 49px;
      }
    }
  }
}